.bottombar{
    background-color: rgb(1, 1, 113);
    /* border: 2px solid red; */
    bottom: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
    

}
.container .bottombar img{
    /* border: 2px solid red; */
    margin: 10px 5px 10px 5px;
    padding: 4px;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    /* margin-left: 12px; */
}
.container img:hover{
    /* background-color: white; */
    background-color: rgba(0, 0, 119, 0.973);
    border-radius: 3px;
    opacity: 0.5;
}

#searchhere{
    font-weight: bolder;
    /* margin: t r b l; */
    padding: 1rem;
    padding:0.5rem 1rem 0.5rem 1.5rem ;
    width: 4.4rem;
    border: 2px solid black ;
    border-radius: 20px;
    background-image: url(./assets/search.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left;
    background-color: black;
}
.windowsonclick{
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 4rem; */
}

.windowsonclick img{
    border: 2px solid white;
    position: absolute;
    bottom: 4.5rem;
    /* bottom: -45rem; */
    height: 46rem;
    width: 40rem;

   
}